### Set-up

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

In [9]:
engine = create_engine('postgresql://lhl_student:lhl_student@lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com:5432/mid_term_project')
# TODO: Integrate chunking for large tables
def load_table(table_name: str) -> pd.DataFrame:
    '''Loads a table from a postrgesql database by using a previously instantiated sqlalchemy connectable of name "engine"'''
    conn = engine.connect()
    df = pd.read_sql_table(table_name, conn)
    return df
# TODO: Integrate chunking for large samples
def sample_table(table_name: str, samples: int) -> pd.DataFrame:
    '''Randomly samples a table for n samples, using a previously instantiated sqlalchemy connectable of name "engine"'''
    conn = engine.connect()
    query = text(f"SELECT * FROM {table_name} ORDER BY random() limit {samples}")
    df = pd.read_sql_query(query, conn)
    return df

### flights table (n samples)

In [6]:
n = 100000
flights_sample = sample_table('flights', n)

In [7]:
flights_sample.shape

(100000, 42)

In [8]:
flights_sample.to_csv('data/flights_sample.csv', index = False)

### passengers table

In [ ]:
# This will take some time
passengers_df = load_table('passengers')

In [ ]:
passengers_df.shape

In [ ]:
passengers_df.to_csv('data/passengers.csv', index = False)

### fuel_consumption table

In [ ]:
fuelConsumption_df = load_table("fuel_comsumption")

In [ ]:
fuelConsumption_df.shape

In [ ]:
# TODO(optional): change name to f'data/fuel_consumption.csv',
# and adjust references to file in other notebooks
fuelConsumption_df.to_csv('data/fuel_consumption_allsamples.csv', index = False)

### flights_test

In [ ]:
flights_test_df = load_table("flights_test")

In [ ]:
flights_test_df.shape

In [ ]:
flights_test_df.to_csv('data/flights_test.csv')