In [2]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Splitting Flights Table into Train & Test

In [ ]:
# SELECT * FROM flights ORDER BY random() limit 100000

In [3]:
# load data
flights_df = pd.read_csv('Data/flights_100k_samples_random.csv', sep = ',')
flights_df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-09,WN,WN,WN,1881,WN,N767SW,1881,12889,LAS,...,1139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-03-12,DL,DL,DL,2884,DL,N817DN,2884,10397,ATL,...,1590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-10,AA,AA_CODESHARE,AA,5594,OH,N261PS,5594,14098,PHF,...,282,8.0,0.0,0.0,0.0,84.0,NaN,NaN,NaN,NaN
3,2019-06-12,B6,B6,B6,573,B6,N536JB,573,11618,EWR,...,997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-28,UA,UA,UA,2199,UA,N410UA,2199,11298,DFW,...,801,0.0,0.0,0.0,0.0,256.0,NaN,NaN,NaN,NaN

In [4]:
# Split df into train and test
train_flights_df, test_flights_df = train_test_split(flights_df, test_size=0.3, random_state=42)

In [11]:
# push to csv files
train_flights_df.to_csv('train_flights_df_random.csv', index = False)
test_flights_df.to_csv('test_flights_df_random.csv', index = False)

# Splitting Fuel Consumption Table into Train & Test

In [7]:
# load data
fuel_df = pd.read_csv('Data/fuel_consumption_allsamples.csv', sep = ',')
fuel_df

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,NaN,0JQ,NaN,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,5100,0.0,5100,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,396216,140239.0,536455,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,12,20377.0,X9,X9,Omni Air International LLC,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,1584314,4588387.0,6172701,2018
3031,12,20207.0,XP,XP,XTRA Airways,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2018
3032,12,20378.0,YV,YV,Mesa Airlines Inc.,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2018
3033,12,20452.0,YX,YX,Republic Airline,2,21048.0,0.0,0.0,0.0,...,50043,0.0,0.0,0.0,0.0,50043,50043,0.0,50043,2018
3034,12,19393.0,WN,WN,Southwest Airlines Co.,3,173203901.0,0.0,0.0,2440902.0,...,351339537,0.0,0.0,5730304.0,5730304.0,357069841,351820604,5730304.0,357550908,2018

In [8]:
# Split df into train and test
train_fuel_df, test_fuel_df = train_test_split(fuel_df, test_size=0.3, random_state=42)

In [9]:
# push to csv files
train_fuel_df.to_csv('train_fuel_df.csv', index = False)
test_fuel_df.to_csv('test_fuel_df.csv', index = False)