In [11]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Splitting Dataset into Train & Test

In [12]:
# load data
flights_df = pd.read_csv('data/all_features.csv', sep = ',')
flights_df.head()

,fl_date,unique_carrier,branded_code_share,mkt_carrier_fl_num,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,dest,dest_city_name,...,total_gallons,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost
0,2018-06-17,F9,F9,1078,F9,1078,MSN,"Madison, WI",PHL,"Philadelphia, PA",...,22096787.0,41775934.0,0.0,0.0,5704097.0,5704097.0,47480031.0,41775934.0,5704097.0,47480031.0
1,2019-02-06,UA,UA_CODESHARE,3609,YX,3609,PIT,"Pittsburgh, PA",EWR,"Newark, NJ",...,244752372.0,229838806.0,91564050.0,91129457.0,58249915.0,240943422.0,470782228.0,231327828.0,241611991.0,472939819.0
2,2019-04-23,AA,AA_CODESHARE,5334,OH,5334,BHM,"Birmingham, AL",CLT,"Charlotte, NC",...,291008622.0,362560543.0,99573979.0,36677163.0,90155938.0,226407080.0,588967623.0,363320993.0,226648425.0,589969418.0
3,2019-04-25,UA,UA_CODESHARE,4844,ZW,4844,IND,"Indianapolis, IN",IAD,"Washington, DC",...,289084422.0,294430837.0,122350380.0,106637727.0,66383872.0,295371979.0,589802816.0,296103451.0,295602761.0,591706212.0
4,2019-11-07,B6,B6,782,B6,782,RIC,"Richmond, VA",BOS,"Boston, MA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
flights_df.shape

(97958, 55)

In [15]:
# Split df into train and test
train_flights_df, test_flights_df = train_test_split(flights_df, test_size=0.2, random_state=42)

In [17]:
# push to csv files
train_flights_df.to_csv('data/train_flights_df_random.csv', index = False)
test_flights_df.to_csv('data/test_flights_df_random.csv', index = False)